<div class="container">
  <h1 class="d-none d-sm-block h3 mb-4">
    <span class="align-items-center d-flex justify-content-center">
      <span i18n>Watchlist</span>
      @if (user?.subscription?.type === 'Basic') {
        <gf-premium-indicator class="ml-1" />
      }
    </span>
  </h1>
  <div class="row">
    <div class="col-12">
      <div class="btn-group mb-3" role="group">
        <button
          class="btn"
          type="button"
          [class.btn-primary]="assetTypeFilter === 'ALL'"
          [class.btn-outline-secondary]="assetTypeFilter !== 'ALL'"
          (click)="onSelectAssetTypeFilter('ALL')"
        >
          <span i18n>All</span> ({{ watchlist?.length ?? 0 }})
        </button>
        <button
          class="btn"
          type="button"
          [class.btn-primary]="assetTypeFilter === 'STOCK'"
          [class.btn-outline-secondary]="assetTypeFilter !== 'STOCK'"
          (click)="onSelectAssetTypeFilter('STOCK')"
        >
          <span i18n>Stocks</span> ({{ stockCount }})
        </button>
        <button
          class="btn"
          type="button"
          [class.btn-primary]="assetTypeFilter === 'ETF'"
          [class.btn-outline-secondary]="assetTypeFilter !== 'ETF'"
          (click)="onSelectAssetTypeFilter('ETF')"
        >
          <span i18n>ETFs</span> ({{ etfCount }})
        </button>
        <button
          class="btn"
          type="button"
          [class.btn-primary]="assetTypeFilter === 'FUND'"
          [class.btn-outline-secondary]="assetTypeFilter !== 'FUND'"
          (click)="onSelectAssetTypeFilter('FUND')"
        >
          <span i18n>Funds</span> ({{ fundCount }})
        </button>
      </div>
      <gf-benchmark
        [benchmarks]="filteredWatchlist"
        [deviceType]="deviceType()"
        [hasPermissionToDeleteItem]="hasPermissionToDeleteWatchlistItem"
        [locale]="user?.settings?.locale || undefined"
        [showIcon]="true"
        [showSignalColumns]="true"
        [sortActive]="'hasRecentBuySignal'"
        [sortDirection]="'desc'"
        [user]="user"
        (itemDeleted)="onWatchlistItemDeleted($event)"
      />
    </div>
  </div>
</div>
@if (!hasImpersonationId && hasPermissionToCreateWatchlistItem) {
  <gf-fab [queryParams]="{ createWatchlistItemDialog: true }" />
}
